**Onehotencoding with many categories in a feature**

In [1]:
import pandas as pd
import numpy as np

In [28]:

df=pd.read_csv('/content/drive/MyDrive/datasets/mercedesbenz.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [4]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [7]:
for columns in df.columns:
  print(columns,':',len(df[columns].unique()))

X0 : 47
X1 : 27
X2 : 44
X3 : 7
X4 : 4
X5 : 29
X6 : 12

In [9]:
# lets examin how many columns will be obtain after one hot encoding these variables i.e. 163-7 and if it's many that will lead to curse of dimentionality
pd.get_dummies(df,drop_first=True).shape

(4209, 163)

https://proceedings.mlr.press/v7/niculescu09/niculescu09.pdf


we will use 10 most frequent labels(category) of a variable and use one hot encoding on that

In [10]:
#lets find the top 10 most frequent categories for vaiable x1
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [11]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [12]:
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [14]:
df.head()

   X0 X1  X2 X3 X4 X5 X6  aa  s  b  l  v  r  i  a  c  o
0   k  v  at  a  d  u  j   0  0  0  0  1  0  0  0  0  0
1   k  t  av  e  d  y  l   0  0  0  0  0  0  0  0  0  0
2  az  w   n  c  d  x  j   0  0  0  0  0  0  0  0  0  0
3  az  t   n  f  d  x  l   0  0  0  0  0  0  0  0  0  0
4  az  v   n  f  d  h  d   0  0  0  0  1  0  0  0  0  0

In [24]:
# get whole set of dummy variables, for all the categorical variable

def one_hot_encoding_top_X(df,variable,top_x_variable):
  # function to create dummy variable for most frequent variables
  for labels in top_x_variable:
    df[variable + '_' + labels] = np.where(df[variable]==labels,1,0)

In [20]:
lst_10_x2=df.X2.value_counts().sort_values(ascending=False).head(10).index
lst_10_x2=list(lst_10)

In [29]:
one_hot_encoding_top_X(df,'X2',lst_10_x2)

In [30]:
df.head(40)

    X0  X1  X2 X3 X4 X5 X6  ...  X2_l  X2_v  X2_r  X2_i  X2_a  X2_c  X2_o
0    k   v  at  a  d  u  j  ...     0     0     0     0     0     0     0
1    k   t  av  e  d  y  l  ...     0     0     0     0     0     0     0
2   az   w   n  c  d  x  j  ...     0     0     0     0     0     0     0
3   az   t   n  f  d  x  l  ...     0     0     0     0     0     0     0
4   az   v   n  f  d  h  d  ...     0     0     0     0     0     0     0
5    t   b   e  c  d  g  h  ...     0     0     0     0     0     0     0
6   al   r   e  f  d  f  h  ...     0     0     0     0     0     0     0
7    o   l  as  f  d  f  j  ...     0     0     0     0     0     0     0
8    w   s  as  e  d  f  i  ...     0     0     0     0     0     0     0
9    j   b  aq  c  d  f  a  ...     0     0     0     0     0     0     0
10   h   r   r  f  d  f  h  ...     0     0     1     0     0     0     0
11  al   r   e  f  d  f  h  ...     0     0     0     0     0     0     0
12   s   b  ai  c  d  f  g  ...     0     0     0     0     0     0     0
13  al   r   e  f  d  j  h  ...     0     0     0     0     0     0     0
14   o   s  as  e  d  j  g  ...     0     0     0     0     0     0     0
15   n   l  ak  f  d  j  d  ...     0     0     0     0     0     0     0
16  al   r   e  f  d  j  h  ...     0     0     0     0     0     0     0
17  ay  aa  as  c  d  j  c  ...     0     0     0     0     0     0     0
18   f   c   m  c  d  j  d  ...     0     0     0     0     0     0     0
19   n   a  ak  f  d  j  i  ...     0     0     0     0     0     0     0
20   f   s   m  c  d  j  j  ...     0     0     0     0     0     0     0
21   t  aa  as  d  d  j  j  ...     0     0     0     0     0     0     0
22   x   r   a  b  d  j  j  ...     0     0     0     0     1     0     0
23   x   b   m  c  d  j  j  ...     0     0     0     0     0     0     0
24   y   r  ak  d  d  j  d  ...     0     0     0     0     0     0     0
25   o   s   m  c  d  j  i  ...     0     0     0     0     0     0     0
26  aj   l  as  f  d  j  g  ...     0     0     0     0     0     0     0
27   t  aa  as  c  d  j  d  ...     0     0     0     0     0     0     0
28   f   s  as  c  d  j  c  ...     0     0     0     0     0     0     0
29   x   b   m  c  d  j  j  ...     0     0     0     0     0     0     0
30  az   v  as  f  d  j  g  ...     0     0     0     0     0     0     0
31   w   e  as  c  d  j  l  ...     0     0     0     0     0     0     0
32   x   b   m  c  d  j  j  ...     0     0     0     0     0     0     0
33   o   s  as  d  d  j  a  ...     0     0     0     0     0     0     0
34  ak   s  as  c  d  j  j  ...     0     0     0     0     0     0     0
35  am   b  ai  c  d  j  j  ...     0     0     0     0     0     0     0
36  aj   l  as  f  d  j  g  ...     0     0     0     0     0     0     0
37   j   v   k  d  d  j  j  ...     0     0     0     0     0     0     0
38  az   v  as  f  d  j  g  ...     0     0     0     0     0     0     0
39   w   s  as  c  d  j  j  ...     0     0     0     0     0     0     0

[40 rows x 17 columns]

**Onehotencoding with few categories in a feature**

In [32]:
df=pd.read_csv('/content/drive/MyDrive/datasets/titanic/test.csv',usecols=['Sex'])

In [33]:
df.head()

      Sex
0    male
1  female
2    male
3    male
4  female

In [34]:

pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         1
3         1
4         0

In [35]:
df=pd.read_csv('/content/drive/MyDrive/datasets/titanic/test.csv',usecols=['Embarked'])

In [36]:
df['Embarked'].unique()

array(['Q', 'S', 'C'], dtype=object)

In [37]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           1           0
1           0           1
2           1           0
3           0           1
4           0           1